// ********************* CHECKOUT PAGE START / 7TH PAGE ********************************
// CHECKOUT FORM START
#checkout-form{
    margin-top: 100px;
    margin-bottom: 40px;
    .haveCoupon{
    margin-bottom: 40px;    
    background-color: $spacialBgColor;
    padding: 17px 80px 17px 30px;
    @include customScreen (320px, 767px){
    padding:10px ;
    text-align: center;
    }
    h4{
    font-size: 16px;
    color: $arrivalpriceColor;
    font-weight: 400;
    line-height: 26px;
    span{
    color: $colorPrimary;
    text-decoration: underline;
    @include customScreen (320px, 767px){
    display: flex;
    align-items: center;
    justify-content: center;
    }    
    }     
    }
    }
    .formBox{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;     
    .titelText{
    margin-bottom: 20px;    
    h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;     
    }   
    }
    label{
    margin-bottom: 5px;
    font-weight: 600; 
    }
    input, select{
    font-size: 14px;
    margin-bottom: 20px;
    color: $dealCntbgColor;
    padding: 13px 20px;    
    }
    .checkout-additional{
    textarea{
    padding: 15px 20px 60px 15px;    
    }    
    }    
    }
}
// CHECKOUT FORM END
// CHECKOUT TABLE START
#checkoutTable{
    margin-top: 40px;
    .checkout-Cnt{
    table{
    text-align: center;  
    border: 1px solid $comparetableBorder;
    .checkout-head{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    th{
    border-bottom: 2px solid $colorPrimary;  
    background-color: $spacialBgColor;  
    } 
    }
    .checkout-product-info{
     text-align: center;
     font-size: 16px;
     color: $arrivalpriceColor;
     font-weight: 400;
     line-height: 28px; 
    td{
    border: 1px solid $comparetableBorder;
    padding: 30px 50px;  
    }
    .checkout-img{
    padding: 30px 50px;  
    }
    .checkout-product{  
    padding: 86px 100px;  
    font-family:$secondaryfont;
    font-size: 16px;
    color: $arrivalpriceColor;
    font-weight: 400;
    line-height: 28px; 
    }
    .checkout-price, .checkout-total{
    padding: 86px 55px;
    }
    .checkout-quantity{
    padding: 85px 53px;
    // quantity arrow start 
    .cart-quantity-down{ 
    color: $dealCntbgColor;  
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid $spacialBgColor;
    }
    .cart-quantity-up{
    color: $dealCntbgColor;    
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid $spacialBgColor;
    }
    .cart-output{
    // padding: 2px 30px;  
    font-size: 16px;
    font-family: $secondaryfont;
    color: $arrivalpriceColor;
    font-weight: 400;
    line-height: 28px;    
    width: 24px;    
    height: 24px;
    text-align: center;
    border: 1px solid $spacialBgColor;
    outline: none; 
    margin: 0px 5px;
    }   
    // quantity arrow end    
    }  
    }
    .checkout-sub-total{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    th{
    padding: 12px 30px;
    border: 1px solid $comparetableBorder;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;    
    }
    td{
    text-align: right;
    padding-right: 30px;    
    }
    .check-total{
    color: $colorPrimary;    
    }    
    } 
    }  
    }    
  }
  // CHECKOUT TABLE END
//   CHECKOUT PAYMENT START
#checkout-payment{
    margin-top: 15px;
    margin-bottom: 100px;
    .checkBox{
    ul{
    margin-bottom: 11px;    
    li{
    label{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;    
    }
    .form-check{
    .active{
    background-color: $colorPrimary;
    border: none;    
    }    
    }    
    }    
    }
    .checkBox-details{
    padding:12px 40px 12px 20px;
    background-color: $comparetableBorder;
    font-size: 16px;
    color: $arrivalpriceColor;
    font-weight: 400;
    line-height: 28px;    
    }
    .place-order{
     margin-top: 15px;   
    p{    
    font-family: $secondaryfont;
    font-size: 16px;
    color: $arrivalpriceColor;
    font-weight: 400;
    line-height: 28px;
    a{
    color: $colorPrimary;    
    }    
    }
    .order-bttn{
    a{
    margin-top: 15px;    
    @include showMoreBtn ()    
    }    
    }
    }    
    }
}
//   CHECKOUT PAYMENT END
// CHECKOUT FOOTER START
@import "./secondfooter"
// CHECKOUT FOOTER END
  
// ********************* CHECKOUT PAGE END / 7TH PAGE ********************************