// MODAL START
#modalCnt{
    .upbutton{
    position: fixed;
    // display: none;
    right: 40px;
    bottom: 80px;
    z-index: 9999;
    .btnBox{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: $colorPrimary;
    cursor: pointer;  
    }
    .modalBtn{
    width: 60px;
    height: 60px;
    }
    }
    .modalSendTextBtn{
    @include showMoreBtn ();
    }
}
// MODAL END