// ********************* SHOP PAGE START / 3rd PAGE ********************************
// SHOP BANNER START
@import"./_commonbanner";
// SHOP BANNER END

// SHOP SLIDER START
#shopGrid{
    margin: 100px 0px;
    .shopGridBox{
//*********************************************************** girdsetting / option start
    .gridSetting{
    justify-content: space-between;
    .gridOption{
    span{
    text-align: center;    
    display: inline-block;    
    width: 35px;
    height: 35px;
    font-size: 22px;
    line-height: 35px;
    color: $whiteColor;
    background-color: $navButtonColor;
    transition: 0.25s;
    &:hover{
    cursor: pointer;
    background-color:$colorPrimary;    
    }   
    }    
    }
    .gridDropdown{
    text-align: right;
    width: 312px;
    height: 40px;
    background-color: $aboutCounterHoverbg;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .droparrow{
    border: none;
    transition: 0.25s;
    &:hover{
    color: $colorPrimary;  
    }  
    }
    ul{
    li{ 
    padding: 10px 30px;
    a{
    color: $textColorPrimary;
    transition: 0.25s;
    &:hover{
    color: $colorPrimary;  
    }  
    }  
    }
    }   
    }
    } 
//*********************************************************** girdsetting / option end
    #gridSlider{
    margin-top: 30px;
    .shopGridCnt{
    margin-bottom: 24px;
    }
    .shopSliderBox{
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-right: 24px;
    .bestCnt{
    .arrivImg {
    width: inherit;
    img{
    width: 100%;
    filter: brightness(100%);
    }
    }
    .sale h4{
    width: 80px;
    height: 26px;
    position: absolute;
    top: 0px;
    left: 12px;
    text-align: center;
    color: $whiteColor;
    background-color: $colorPrimary;
    padding: 0px 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    }
    .arriveIcon{
            position: absolute;
            top: 50%;
            left: 265px;
            transform: translateY(-82%);
            transition: 0.25s ease-in;
            @include phone (){
            display: none;
            }
            @include phonePro (){
            left: 465px;
            }
            @include tab (){
            left: 290px;
            }
            @include laptop (){
            left: 180px;
            }
            @include tv (){
            left: 220px;
            } 
            li{
            margin-bottom: 10px;
            cursor: pointer;
            opacity: 0;
            transform: translateX(-200%);
            transition: 0.1s ease-in-out;
            transition-delay: calc(0.1s * var(--num));         
            button{
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 50%;
            color: $whiteColor;
            text-align: center;
            display: inline-block;
            background-color: $navButtonColor;
            border: none;
            transition: 0.25s ease-in;
            &:hover{
            color: $whiteColor;
            background-color: $colorPrimary;
            }
            }
            }  
    }
    &:hover .arriveIcon li{
    transform: translateX(-50%);
    opacity: 1;
    }
    &:hover .arrivImg{
    filter: brightness(80%);
    }
    }
    .bestText{    
    width: 100%; 
    padding-top: 24px;
    position: relative;
    padding-bottom: 26px;
    h5{
    font-size: 16px;
    color: $arrivalpriceColor;
    font-weight: 400;
    line-height: 26px;
    }
    h4{
    font-size: 18px;
    color: $textColorPrimary;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10px;
    }
    span{
    position: absolute;
    top: 25%;
    right: 25px;    
    color: $colorPrimary;
    span{
    top: -3px;    
    right: -25px;    
    color: $arrivalpriceColor;    
    }
    }
    }
    }
    }   
    }
    .paginationbox{
    display: flex;
    align-self: center;
    justify-content: center;
    .paginationCnt{
      text-align: center;
    ul{
    li{
    margin-left: 10px;  
     a{
     color: $arrivalpriceColor; 
     }
     .arrowNumber{
      transition: 0.25s;
     &:hover{
      color: $whiteColor;
      background-color: $navButtonColor;
     } 
     }
    .arrowBtn{
    box-shadow: none;
    background: transparent;  
    color: $arrivalpriceColor;
    transition: 0.25s;
    &:hover{
     color: $colorPrimary 
    }
    }  
    }
    }  
    } 
    }    
}
// SHOP SLIDER END

// SHOP FOOTER START
@import "./secondfooter.scss";
// SHOP FOOTER END

// ********************* SHOP PAGE END / 3rd PAGE ********************************