// ROOT START
$primaryfont: 'Josefin Sans', sans-serif;
$secondaryfont:'Roboto', sans-serif;
$navButtonColor:#151A32;
$beautyArrowbg:#151a328c;
$colorPrimary:#FF6F61;
$textColorPrimary:#11161E;
$whiteColor:#fff;
$bannerTextColor:#1D1D1D;
$beautyCreamHoverBg:darken(#11161e88,100%);
$arrivalpriceColor:#444;
$dealCntbgColor:#CACACA;
$spacialBgColor:#F1F3F4;
$footerBgColor:#11161E;
// ROOT END