// ROOT START
$bgcolorlight:#ffff;
$bgcolordark:#06070ce1;
$primaryfont: 'Josefin Sans', sans-serif;
$secondaryfont:'Roboto', sans-serif;
$navButtonColor:#151A32;
$beautyArrowbg:#151a328c;
$colorPrimary:#FF6F61;
$textColorPrimary:#11161E;
$whiteColor:#fff;
$bannerTextColor:#1D1D1D;
$beautyCreamHoverBg:darken(#11161e88,100%);
$arrivalpriceColor:#444;
$dealCntbgColor:#CACACA;
$spacialBgColor:#F1F3F4;
$footerBgColor:#11161E;
$footerbordercolor:#F1F1F1;
$pageBannerBg:lighten(#11161E,8%);
$aboutCounterbg:lighten(#FF6F61,20%);
$aboutCounterHoverbg:#F1F3F4;
$aboutInstaHoverBg:lighten(#151A32,8%);
$comparetableBorder:#E0E0E0;
$compareStockicon:#29CC00;
// ROOT END